body {
    background-color: #ebebeb;
    color: #ececec;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    
}

.adimariLogoMid
{
    max-width: 128px;
    margin: 16px;
}

table
{
    border: 3px solid #000000;
    width: 100%;
    border: 1px solid #000000;
}
tr{
    border: 1px solid #000000;
    transition: all 0.1s ease-in-out;
}

tr.even{
    background-color: rgb(236, 236, 236);
}
tr.odd{
    background-color: rgb(216, 216, 216);
}

.color0{
    background-color: rgb(63, 110, 148);
}


tr:hover{
    background-color: rgb(255, 255, 255);
}
th {
    text-align: center;
}
td {
    text-align: center;
}
.roomSplit
{
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.w-5{
    position: relative;
    height: 64px;
    top: 28px;
}

button 
{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px 0px 10px;
    word-wrap: break-word;
    border: none;
    cursor: pointer;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
button:hover {
    background-color: rgb(224, 224, 224);
}
button:active {
    background-color: rgb(224, 224, 224);
}



.importantItem{
    font-size: 16px;
    font-weight: bold;
}
.tableButton
{
    background: none;
    font-size: 12px;
    color: blue;
    font-weight: bold;
}
.column0
{
    display: none;
}
.column1
{
    display: none;
}
.column9
{
    width: 200px;
}
.column13
{
    width: 50px;
}


.inputBox
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 40px 80px;
    width: 300px;
    margin: 64px auto;


    border: none;
    color: black;

    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.301))


    
}

.inputBox input
{
    border-radius: 4px;
    background-color: rgb(215, 222, 228);
    border: none;
    padding: 0px 10px 0px 10px;
    word-wrap: break-word;
    border: none;
    cursor: pointer;
    height: 24px;
    color: black;
}

.inputBox h1
{
    text-align: center;

}



.inputBox .inputSettings
{
    display: block;
}

.inputSettings .remember
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputLoginButton
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputBox button
{
    width: 100%;
    background-color: rgb(202, 207, 235);
    border-radius: 4px;
    border: none;
    padding: 0px 10px 0px 10px;
    word-wrap: break-word;
    border: none;
    cursor: pointer;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}


.inputBox .register
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.errorText
{
    color: red;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
